:host {
  display: block;
  height: 100%;
  width: 100%;
  background-color: #0402AE;
  color: 	#E4EDB7;
  padding: 2px;
}

.title {
  padding: 0.25em;
  font-size: 1.5em;
}

ul {
  list-style: none;
  color: white;
  padding: 0;
  margin: 0;
}

li {
  padding: 0.1em 0.25em
}

li.active {
  background-color: #03ACA9;
  color: blue;
}


